@charset "UTF-8";

body {
	background-image:url("https://m.media-amazon.com/images/I/91G+UFghKSL.jpg");
    background-size:cover;
	background-repeat:no-repeat;
	width:100%;
	height:100vh;	
}


.topnav {
	text-align:right;
	margin-right:10px;
}

.topnav a {
	padding:10px;
	}
	
.form {
	text-align:center;
	}

.login {
	margin-right:10px;
}


